* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.contenedor-principal {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100vw;
    height: 100vh;
}

.contenedor-formulario {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor-logo {
    background-color: #CDE7DD;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor-formulario h2 {
    font-size: 2.5rem;
    color: #000;
    text-align: center;
}

.contenedor-formulario form {
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.contenedor-formulario input {
    width: 300px;
    padding: 13px;
    border: none;
    border-radius: 8px;
    background-color: #B5DCCE;
    margin-bottom: -50px;
    outline: none;
}

.contenedor-formulario input::placeholder {
    text-align: center;
    color: #2F594B;
}

.contenedor-formulario button {
    width: 300px;
    padding: 13px;
    border: none;
    border-radius: 8px;
    background-color: #000;
    color: #fff;
    margin-top: -3px;
}

hr {
    border: 0;
    height: 2px;
    width: 60%;
    background-color: #adadad;
    margin: -50px;
}

a {
    text-decoration: none;
    color: #25473C;
}

/* Media Queries */
@media (max-width: 768px) {
    .contenedor-principal {
        display: flex;
        flex-direction: column-reverse;
    }
    .contenedor-formulario{
        background-color: red;
        width: 100vw;
        height: 100vh;
    }
    .contenedor-logo{
        width: 100vw;
        height: 30vh;
        background-color: #fff;
    }
    .contenedor-logo img{
        max-width: 300px;
        height: 300px;
        object-fit: cover;
    }
    .contenedor-formulario form{
        background-color: white;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    .contenedor-formulario form input{
        margin: 0;
        width: 70%;
        padding: 40px;
        margin-bottom: -100px;
    }
    .contenedor-formulario form input::placeholder{
        font-size: 2rem;
        text-align: center;
        position: relative;
        top: 9px;
        color: #2F594B;
    }
    .contenedor-formulario form button{
        width: 70%;
        padding: 40px;
        font-size: 2rem;
        font-weight: bold;
    }
    hr{
        margin-top: -100px;
    }
    a{
        margin-top: -100px;
    }
    .contenedor-formulario h2{
        font-size: 4rem;
        margin-top: -100px;
    }

}
